.CountryDiv {
    overflow-y: scroll;
    height : 410px;
    width : 350px;
    margin : 2% 0;

}
 
.CountryDiv :first-child {
    padding : 1%;
    margin : 2% 0;
}

.Img {
 width : 15%;
 border-radius: 2px;
 
}

.CountryDiv p {
    font-size: 12px;
  color : #66676e
    
}
.CountryDiv :first-child {
    padding : 2%
}


.CountryInfo {
    display : flex;
    align-items: center;

}

.CountryInfo h4 {
    padding-left : 2% 
}


.Statistics {
    display: flex;
    justify-content: start;
    padding : 0 0 2% 1%;
    align-items: baseline;
}

