.SelectedBtn {
    background-color: #52586A;
    color : #fff;
    height : 30px;
    width : 86px;
    border : none;
    border-radius : 3px;   
    outline: none;
}

.Btn {
    background-color: #F5F5F5;
    color : #30313A;
    height : 30px;
    width : 86px;
    border : none;
    outline: none;
    border-radius: 3px;
}
.spreadContent {
    max-width : 100%;
    max-height: 100%;
}

.SpreadHeader {
    display: flex;
    justify-content: space-between;
    padding : 2% 2%;
}

.SpreadHeader h4 {
    font-weight: 900;
    margin : 1%
}

@media only screen and (max-width : 1262px) {

    .SpreadTrend {
        flex-basis: 49%;
    }
} 


@media only screen and (max-width : 930px) {

    .SpreadTrend {
        flex-basis: 100%;
        margin : 2% auto;
    }
    .Graph {
        width : 50%;
        margin : 0 auto;
        zoom: 125%;
    }
}

@media only screen and (max-width : 760px) {

    .SpreadTrend {
        flex-basis : 100%;
    }
     
    .Graph      {
       zoom : 80%;
    }
}


@media only screen and (max-width : 550px) {

  
     
    .Graph      {
       zoom : 70%;
    }
}


@media only screen and (max-width : 450px) {

  
     
    .Graph      {
       zoom : 60%;
    }

    .SelectedBtn {
        height : 25px;
        width  : 66px;
        font-size: 11px;
    }
    .Btn {
        height : 25px;
        width : 66px;
        font-size: 11px;
    }
}

@media only screen and (max-width : 380px)
{
    .Graph {
        zoom : 40%;
    }
    .SelectedBtn {
        height : 20px;
        width  : 40px;
        font-size: 8px;
    }
    .Btn {
        height : 20px;
        width : 40px;
        font-size: 8px;
    }
} 

@media only screen and (min-width : 1300px) {
    .SpreadTrend {
        flex-basis: 49%;
    }
}