.dailyCasereport {
   padding: 10% 7%;
   margin : 2% 0;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

.dailyCasereport h3 {
   padding : 10% 10% 0 0;
   font-size : 24px;
}

.dailyCasereport p {
    font-size: 13px;
    font-weight : 600;
    
}

.dailyCasereportSection {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between
    
}

.eachCard {
    flex-grow: 0;
    flex-basis : 23%;
}

.Graph {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

@media only screen and (max-width : 1025px)
{
    .eachCard {
        flex-basis : 48%;
    }
}


@media only screen and (max-width : 550px)
{
    .eachCard {
        flex-basis : 100%;
    }

.dailyCasereport h3 {
    font-size : 35px;
 }

.dailyCasereport p {
    font-size: 20px;
  
}

}
