.NavBar {
    display : flex;
    background-color: #fff;
    

}

.Navlink {

    display: flex;
    flex-grow: 2;

    
}


.Logo {
    flex-grow : 1
}

@media only screen and (max-width : 500px) {
    .Navlink {
        display: none
    }
}