.OuterTweetsBox {

        margin : 4% auto;
        width : 93%;

        border-radius : 8px;
        padding : 5% 0;
        height : 438px;
        
        

}
.OuterTweetsBox h4 {
    padding : 2% 0 3% 3% ;
}

.InnerTweetBox {

    height : 375px;
    overflow-y : scroll;
    padding : 7% 0 0 0;
}