.OuterTweetsBox {

        border-radius : 8px;
        padding : 5% 0;
        height :  438px;        
        margin : auto;
    }
.OuterTweetsBox h4 {
    padding : 2% 0 3% 3% ;
}

.InnerTweetBox {

    height :  375px;
    overflow-y : scroll;
    padding : 7% 0 0 0;
}

.InnerTweetBox::-webkit-scrollbar {
    width: 5px;
  }


.InnerTweetBox::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }


.InnerTweetBox::-webkit-scrollbar-thumb {
    background-color: #ed757b; 
    border-radius: 10px;
  }

  @media only screen and (max-width : 1262px) {

    .OuterTweetsBox {
      flex-basis : 48%;
      padding : 0;
      align-self : flex-start ;
      margin-top: 2%;
      
    }

    .InnerTweetBox {
      height : 337px;
    }

  }
  @media only screen and (max-width : 1030px){
    .InnerTweetBox {
      height : 335px;
    }
  }
  @media only screen and (max-width : 960px){
    .InnerTweetBox {
      height : 330px;
    }
  }
  @media only screen and (max-width : 850px){
    .InnerTweetBox {
      height : 325px;
    }
  }


  @media only screen and (max-width : 660px) {

    .OuterTweetsBox {
       
       width :  100%;
       margin : 2%  auto;
      align-self: stretch;
    }
  }